/* ###### MOBILE FIRST ###### */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
  font-family: sans-serif;
  background-color: rgb(25, 22, 39);
  color: rgb(230, 230, 230);
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: rgb(25, 22, 39);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(114, 0, 180);
  border-radius: 50px;
}

a {
  text-decoration: none;
  color: rgb(230, 230, 230);
}

button {
  cursor: pointer;
}

@keyframes fade_in_show {
  0% {
    bottom: -25vh;
  }

  100% {
    bottom: 0;
  }
}

#app {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}

#top_button {
  width: 30px;
  height: 30px;
  border: solid 1px rgb(230, 230, 230);
  border-radius: 5px;
  background-color: rgb(164, 50, 230);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: fixed;
  bottom: 10vh;
  right: 0;

  margin: 15px;
  padding: 5px;
  z-index: 5;
}

#top_button img {
  width: 20px;
}

/* menu section */

.menu {
  width: 100%;
  height: 8vh;
  position: fixed;
  z-index: 10;
  bottom: -1px;

  background-color: rgb(25, 22, 39);
  color: rgb(230, 230, 230);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border-top: solid 1px rgb(230, 230, 230);
}

.logo {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  font-weight: bold;
  margin-left: 15px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: default;
}

.logo img {
  width: 18px;
  margin-right: 8px;
}

.menu_buttons {
  width: 100%;
  height: 25vh;

  position: fixed;
  bottom: 0;
  background-color: rgb(25, 22, 39);
  z-index: 10;

  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  align-items: center;

  border-top: solid 1px rgb(230, 230, 230);
  animation: fade_in_show 500ms;
  z-index: 11;
}

.menu_buttons a {
  display: grid;
  place-items: center;
}

.menu_buttons img {
  width: 20px;
}

.menu_buttons a {
  display: grid;
  place-items: center;
  gap: 5px;
}

.show_menus_button {
  width: 30px;
  height: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 15px;
  padding: 5px;
  z-index: 11;
}

.button_line {
  width: 100%;
  height: 2px;
  background-color: rgb(230, 230, 230);
  margin: 2px;
  transition: ease 300ms;
}

.show_menus_button.active .button_line:nth-child(1) {
  transform: rotate(45deg) translate(1px);
  margin: 0;
}

.show_menus_button.active .button_line:nth-child(2) {
  display: none;
}

.show_menus_button.active .button_line:nth-child(3) {
  transform: rotate(-45deg) translate(1px);
  margin: 0;
}

/* content section */
/* home section */

#home {
  width: 100%;
  padding: 10% 5%;
}

#home h1 span:nth-of-type(1) {
  color: rgb(164, 50, 230);
}

#home .contact_button {
  width: 150px;
  height: 50px;
  margin: 20px auto 20px 0;
  background-color: rgb(164, 50, 230);
  color: rgb(230, 230, 230);
  border: none;

  display: grid;
  place-items: center;
  border-radius: 20px;

  font-size: 22px;
  font-weight: bold;
}

#home .data_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0 50px 0;
}

#home .social_medias {
  width: 40px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  gap: 25px;
}

#home .social_medias img {
  width: 40px;
}

#home #profile_photo {
  width: 200px;
  border-radius: 20px 50% 50% 50%;
}

/* about section */

#about {
  width: 100%;
  padding: 10% 5%;
}

#about h2 {
  text-align: center;
  color: rgb(164, 50, 230);
  font-size: 30px;
  margin-bottom: 20px;
}

#about img {
  width: 280px;
  border-radius: 20px;
  display: block;
  margin: auto;
}

#about h3 {
  text-align: center;
  font-size: 20px;
  color: rgb(100, 255, 100);
  margin-top: 15px;
}

#about p {
  margin-top: 15px;
  font-weight: bold;
}

/* professional skills section */

#skills {
  width: 100%;
  padding: 10% 5%;
}

#skills h2 {
  text-align: center;
  color: rgb(164, 50, 230);
  font-size: 30px;
  margin-bottom: 20px;
}

.skill_data {
  width: 100%;
  margin: auto;
  margin-bottom: 15px;
  border-bottom: solid 1px rgb(114, 0, 180);
  border-radius: 5px;
  overflow: hidden;
}

.skill_data .data_container {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skill_data .data_container img {
  width: 40px;
}

.progress_bar {
  width: 100%;
  height: 2px;
  margin-top: 2px;
  background-color: rgb(100, 255, 100);
}

#skills ul {
  width: 280px;
  margin: auto;
  list-style: none;
  font-size: 14px;
  color: rgb(164, 50, 230);
}

/* work section */

#work {
  width: 100%;
  padding: 10% 5%;
}

#work h2 {
  text-align: center;
  color: rgb(164, 50, 230);
  font-size: 30px;
  margin-bottom: 20px;
}

#work h3 {
  text-align: center;
  color: rgb(100, 255, 100);
  font-size: 1.2em;
  margin-top: 20px;
  padding: 20px;
  border: solid 1px rgb(114, 0, 180);
  border-bottom: none;
  border-radius: 20px 20px 0px 0px;
}

.repos {
  list-style: none;
  font-size: 20px;
  font-weight: bold;
  border: solid 1px rgb(114, 0, 180);
  border-radius: 0px 0px 20px 20px;
  padding: 10px 5px;
  overflow: hidden;
  text-align: center;
}

.repos li {
  padding: 3px 0;
}

.repos a {
  text-decoration: underline rgb(114, 0, 180);
}

#show_and_hide_button {
  width: 150px;
  height: 35px;
  margin: auto;
  background-color: rgb(164, 50, 230);
  color: rgb(230, 230, 230);
  border: none;

  position: relative;
  top: -1px;

  display: grid;
  place-items: center;
  border-radius: 0px 0px 20px 20px;

  font-size: 18px;
  font-weight: bold;
}

/* footer section */

.rights_reserved {
  margin-top: 20px;
  margin-bottom: 8vh;
  text-align: center;
  color: rgb(100, 255, 100);
}

/* default patterns that needs priority */
.none {
  display: none;
}

/* ###### DESKTOP ###### */
@media only screen and (min-width: 768px) {
  .logo {
    margin-left: 5%;
  }

  .menu {
    position: sticky;
    height: 10vh;
    top: 0px;
    border-top: none;
    border-bottom: solid 1px rgb(230, 230, 230);
  }

  .menu_buttons {
    width: auto;
    height: auto;
    margin-right: 5%;

    display: flex;
    justify-content: right;
    align-items: center;
    gap: 30px;

    position: static;
    animation: none;

    border-top: none;
    transition: ease 300ms;
  }

  .menu_buttons a {
    font-weight: bold;
  }

  .menu_buttons a:hover {
    text-shadow: 0 0 5px rgb(230, 230, 230);
  }

  .show_menus_button {
    display: none;
  }

  /* home section */

  #home {
    padding: 12px 20% 10% 20%;
  }

  #home h1 {
    font-size: 50px;
  }

  #home .contact_button {
    width: 200px;
    height: 60px;

    margin: 40px auto 40px 0;

    font-size: 28px;
  }

  #home .data_container {
    position: relative;
    display: block;
  }

  #home .social_medias {
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
  }

  #home .social_medias img {
    width: 80px;
  }

  #home #profile_photo {
    width: 300px;
    position: absolute;
    right: 0;
    top: -100px;
  }
  /* about section */

  #about {
    padding: 10% 20% 10% 20%;
  }

  #about h2 {
    font-size: 50px;
  }

  #about img {
    width: 500px;
  }

  #about h3 {
    font-size: 30px;
  }

  #about p {
    font-size: 20px;
    font-weight: bold;
  }

  /* professional skills section */

  
}
