/* ###### MOBILE FIRST ###### */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 1600px;
  margin: auto;
  overflow: hidden;
  font-family: sans-serif;
  font-weight: bold;
  background-color: rgb(32, 32, 42);
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: rgb(25, 22, 39);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(114, 0, 180);
  border-radius: 50px;
}

a {
  text-decoration: none;
  color: rgb(230, 230, 230);
}

button {
  cursor: pointer;
  font-weight: bold;
}

@keyframes fade_in_show {
  0% {
    bottom: -25vh;
  }

  100% {
    bottom: 0;
  }
}

#page_progress_bar {
  height: 3px;
  background: rgb(100, 255, 150);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
}

#app {
  width: 100%;
  height: 100vh;
  margin: auto;

  background-color: rgb(25, 22, 39);
  color: rgb(230, 230, 230);

  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  position: relative;
}

#top_button {
  width: 50px;
  height: 50px;
  border: solid 1px rgb(230, 230, 230);
  border-radius: 50%;
  background-color: rgba(164, 50, 230, 0.5);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: fixed;
  bottom: 10vh;
  right: 0;

  margin: 15px;
  padding: 5px;
  z-index: 5;
}

#top_button img {
  width: 30px;
}

#lang_button {
  width: 50px;
  height: 50px;
  border: solid 1px rgb(230, 230, 230);
  border-radius: 50%;
  background-color: rgba(164, 50, 230, 0.5);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: rgb(230, 230, 230);

  position: fixed;
  top: 1vh;
  right: 0;

  margin: 15px;
  padding: 5px;
  z-index: 5;
}

/* menu section */

.menu {
  width: 100%;
  height: 10vh;
  position: fixed;
  bottom: 0;

  background-color: rgb(25, 22, 39);
  color: rgb(230, 230, 230);
  font-weight: lighter;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border-top: solid 1px rgb(230, 230, 230);
  z-index: 10;
}

#toggleFullScreen {
  width: 20px;
  height: 20px;
  border: none;
  margin-left: 15px;
  background-color: transparent;
}

.logo {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: default;
}

.logo img {
  width: 18px;
  margin-right: 8px;
}

.menu_buttons {
  width: 100%;
  height: 30vh;

  position: fixed;
  bottom: 0;
  background-color: rgb(25, 22, 39);

  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  align-items: center;

  border-top: solid 1px rgb(230, 230, 230);
  animation: fade_in_show 500ms;
  z-index: 11;
}

.menu_buttons a {
  display: grid;
  place-items: center;
}

.menu_buttons img {
  width: 20px;
}

.menu_buttons a {
  display: grid;
  place-items: center;
  gap: 5px;
}

.show_menus_button {
  width: 30px;
  height: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 15px;
  padding: 5px;
  z-index: 11;
}

.button_line {
  width: 100%;
  height: 2px;
  background-color: rgb(230, 230, 230);
  margin: 2px;
  transition: ease 300ms;
}

.show_menus_button.active .button_line:nth-child(1) {
  transform: rotate(45deg) translate(1px);
  margin: 0;
}

.show_menus_button.active .button_line:nth-child(2) {
  display: none;
}

.show_menus_button.active .button_line:nth-child(3) {
  transform: rotate(-45deg) translate(1px);
  margin: 0;
}

/* content section */
/* home section */

#home {
  width: 100%;
  max-width: 500px;
  margin: auto;
  padding: 10% 5%;
}

#home h1 span:nth-of-type(1) {
  color: rgb(164, 50, 230);
}

.contact_button_container {
  width: 100%;
  max-width: 150px;
}

#home #contact_button {
  width: 150px;
  height: 50px;
  margin: 20px auto 20px 0;
  background-color: rgb(164, 50, 230);
  color: rgb(230, 230, 230);
  border: none;

  display: grid;
  place-items: center;
  border-radius: 20px;

  font-size: 22px;
}

#home .data_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0 50px 0;
}

#home .social_medias {
  width: 100%;
  max-width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  gap: 25px;
}

#home .social_medias img {
  width: 100%;
  max-width: 60px;
}

#home #profile_photo {
  width: 100%;
  max-width: 200px;
  border-radius: 20px 50% 50% 50%;
}

/* about section */

#about {
  width: 100%;
  padding: 10% 5%;
}

#about h2 {
  text-align: center;
  font-size: 30px;
  color: rgb(230, 230, 230);
  margin-bottom: 20px;
}

#about h3 {
  text-align: center;
  font-size: 20px;
  color: rgb(200, 150, 230);
  margin-top: 15px;
}

#about p {
  margin-top: 15px;
}

#about p:nth-of-type(1) {
  text-align: center;
}

#about p em {
  color: rgb(200, 150, 230);
}

/* professional skills section */

#skills {
  width: 100%;
  padding: 10% 5%;
}

#skills h2 {
  text-align: center;
  color: rgb(230, 230, 230);
  font-size: 30px;
  margin-bottom: 20px;
}

.skills_container {
  width: 100%;
  max-width: 500px;
  margin: auto;
}

.skill_data {
  width: 100%;
  margin: auto;
  margin-bottom: 15px;
  border-bottom: solid 1px rgb(114, 0, 180);
  border-radius: 5px;
  overflow: hidden;
}

.skill_data .data_container {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skill_data .data_container img {
  width: 40px;
}

.progress_bar {
  width: 100%;
  height: 2px;
  margin-top: 2px;
  background-color: rgb(100, 255, 150);
}

.certifications_container {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

.certifications_container h3 {
  padding: 20px;
  color: rgb(100, 255, 150);
  font-size: 20px;
  margin-top: 0;
}

.certifications_container .certificate:first-of-type {
  margin-top: 0;
}

.certifications_container .data_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.certifications_container .certificate {
  max-width: 500px;
  margin-top: 60px;
  border: solid 2px rgb(114, 0, 180);
  border-radius: 20px;
  overflow: hidden;
}

.certifications_container .data_container img {
  width: 100%;
  max-width: 500px;
}

.certification_data {
  width: 100%;
  max-width: 500px;
  text-align: left;
  margin: auto;
  list-style: none;
  font-size: 18px;
  padding: 5px 10px;
  background-color: rgb(32, 32, 42);
}

.certification_data li {
  padding: 5px 0;
}

.certification_data span {
  color: rgb(100, 255, 150);
}

.certification_data a {
  color: rgb(200, 150, 230);
  text-decoration: underline rgb(164, 50, 230);
  transition: 300ms;
}

/* work section */

#work {
  width: 100%;
  padding: 10% 5%;
}

#work h2 {
  text-align: center;
  color: rgb(230, 230, 230);
  font-size: 30px;
  margin-bottom: 20px;
}

#work .data_container {
  width: 100%;
  max-width: 500px;
  margin: auto;
  margin-top: 20px;
  padding: 10px 0;
  border: solid 2px rgb(114, 0, 180);
  border-radius: 20px;
}

.slide_and_dot_container {
  display: grid;
  place-items: center;
  gap: 20px;
  overflow: hidden;
}

.slideshow_container {
  width: 100%;
  max-width: 800px;
  position: relative;
  margin: auto;
}

.slideshow_container img {
  width: 100%;
  max-width: 800px;
  max-height: 450px;
  border-radius: 20px 20px 0 0;
  display: block;
  margin: auto;
}

.my_slides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  width: 20%;
  height: 100%;
  padding: 16px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.text {
  color: rgb(230, 230, 230);
  background-color: rgb(32, 32, 42);
  font-size: 15px;
  padding: 8px 12px;
  border-radius: 0 0 20px 20px;
  width: 100%;
  text-align: center;
}

.number_text {
  color: rgb(230, 230, 230);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  font-size: 12px;
  margin: 5px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dots_container {
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(114, 0, 180);
  border-radius: 50%;
  display: inline-block;
  transition: 300ms;
}

.active2,
.dot:hover {
  background-color: rgb(100, 255, 150);
}

#work p {
  width: 100%;
  text-align: center;
  font-size: 20px;
  margin: 50px 0;
}

#work h3 {
  width: 100%;
  text-align: center;
  color: rgb(100, 255, 150);
  font-size: 20px;
  padding: 5px 0 10px 0;
  border-bottom: solid 2px rgb(114, 0, 180);
}

.repos {
  list-style: none;
  font-size: 20px;
  overflow: hidden;
  padding-left: 5%;
}

.repos li {
  padding: 5px 0;
}

.repos a {
  text-decoration: underline rgb(114, 0, 180);
}

#show_and_hide_button {
  width: 150px;
  height: 35px;
  margin: auto;
  background-color: rgb(164, 50, 230);
  color: rgb(230, 230, 230);
  border: none;

  position: relative;
  top: -1px;

  display: grid;
  place-items: center;
  border-radius: 0px 0px 20px 20px;

  font-size: 18px;
}

/* footer section */

footer {
  padding: 0 5%;
  display: grid;
  place-items: center;
}

.rights_reserved {
  margin-top: 20px;
  margin-bottom: 50vh;
  text-align: center;
}

/* default patterns that needs priority */
.none {
  display: none;
}

/* ###### DESKTOP ###### */
@media only screen and (min-width: 900px) {
  #page_progress_bar {
    background-color: rgb(164, 50, 230);
  }

  #toggleFullScreen {
    display: none;
  }

  #top_button {
    width: 60px;
    height: 60px;
    right: calc(20% - 150px);
    transition: 300ms;
  }

  #top_button img {
    width: 30px;
  }

  #top_button:hover {
    box-shadow: 0 0 5px rgb(230, 230, 230);
  }

  #top_button:active {
    box-shadow: none;
  }

  #lang_button {
    top: 15vh;
    width: 60px;
    height: 60px;
    right: calc(20% - 150px);
    transition: 300ms;
  }

  #lang_button:hover {
    box-shadow: 0 0 5px rgb(230, 230, 230);
  }

  #lang_button:active {
    box-shadow: none;
  }

  .logo {
    font-size: 28px;
    margin-left: 5%;
  }

  .logo img {
    width: 28px;
  }

  .menu {
    max-width: 1600px;
    height: 10vh;
    position: sticky;
    top: 0;
    border-top: none;
    border-bottom: solid 1px rgb(230, 230, 230);
  }

  .menu_buttons {
    width: auto;
    height: auto;
    margin-right: 5%;

    display: flex;
    justify-content: right;
    align-items: center;
    gap: 30px;

    position: static;
    animation: none;

    border-top: none;
    transition: ease 300ms;
  }

  .menu_buttons a {
    font-size: 20px;
    font-weight: bold;
    transition: 300ms;
  }

  .menu_buttons a:last-child {
    color: rgb(164, 50, 230);
  }

  .menu_buttons a:last-child:hover {
    text-shadow: 0 0 5px rgb(164, 50, 230);
  }

  .menu_buttons a:hover {
    text-shadow: 0 0 5px rgb(230, 230, 230);
  }

  .menu_buttons a:active {
    text-shadow: none;
  }

  .menu_buttons img {
    display: none;
  }

  .show_menus_button {
    display: none;
  }

  /* home section */

  #home {
    max-width: 800px;
    padding: 5% 5% 10% 5%;
  }

  #home h1 {
    font-size: 50px;
  }

  .contact_button_container {
    width: 200px;
  }

  #home #contact_button {
    width: 200px;
    height: 60px;

    margin: 40px auto 40px 0;
    font-size: 28px;
    transition: 300ms;
  }

  #home #contact_button:hover {
    background-color: rgb(114, 0, 180);
    box-shadow: 0 0 5px rgb(230, 230, 230);
  }

  #home #contact_button:active {
    box-shadow: none;
  }

  #home .data_container {
    position: relative;
    display: block;
  }

  #home .social_medias {
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
  }

  #home .social_medias img {
    border-radius: 50%;
    transition: 300ms;
  }

  #home .social_medias img:hover {
    box-shadow: 0 0 5px rgb(230, 230, 230);
  }

  #home .social_medias img:active {
    box-shadow: none;
  }

  #home #profile_photo {
    max-width: 300px;
    position: absolute;
    right: 0;
    top: -100px;
  }
  /* about section */

  #about {
    padding: 150px 20% 100px 20%;
  }

  #about h2 {
    font-size: 50px;
    margin-bottom: 40px;
  }

  #about h3 {
    font-size: 30px;
  }

  #about p {
    font-size: 20px;
    text-align: justify;
  }

  /* professional skills section */

  #skills {
    padding: 100px 20% 100px 20%;
  }

  #skills h2 {
    font-size: 50px;
    margin-bottom: 40px;
  }

  .skills_container {
    margin: auto;
    padding: 40px;
    border: solid 2px rgb(114, 0, 180);
    border-radius: 20px;
  }

  .skill_data .data_container {
    font-size: 20px;
  }

  .certifications_container h3 {
    padding: 40px;
    font-size: 30px;
  }

  .certifications_container .data_container img {
    transition: 300ms;
  }

  .certifications_container .data_container img:hover {
    box-shadow: 0 5px 5px rgb(114, 0, 180);
  }

  .certification_data {
    max-width: 500px;
    padding: 20px 30px;
  }

  .certification_data a:hover {
    text-shadow: 0 0 5px rgb(164, 50, 230);
  }

  .certification_data a:active {
    text-shadow: none;
  }

  /* work section */

  #work {
    padding: 100px 20% 100px 20%;
  }

  #work h2 {
    font-size: 50px;
    margin-bottom: 40px;
  }

  .prev,
  .next {
    width: auto;
    transition: 300ms;
  }

  .prev:hover,
  .next:hover {
    color: rgb(165, 165, 165);
  }

  #work .data_container {
    max-width: 500px;
    margin: 40px auto 0 auto;
  }

  #work h3 {
    font-size: 30px;
    transition: 300ms;
  }

  #work h3:hover {
    text-shadow: 0 0 3px rgb(200, 150, 230);
  }

  #work h3:active {
    text-shadow: none;
  }

  .repos a:hover {
    transition: 300ms;
  }

  .repos a:hover {
    text-shadow: 0 0 5px rgb(230, 230, 230);
  }

  .repos a:active {
    text-shadow: none;
  }

  #show_and_hide_button {
    transition: 300ms;
  }

  #show_and_hide_button:hover {
    background-color: rgb(114, 0, 180);
    box-shadow: 0 0px 3px rgb(230, 230, 230);
  }

  #show_and_hide_button:active {
    box-shadow: none;
  }

  /* footer section */

  .rights_reserved {
    margin-bottom: 20px;
    cursor: default;
  }
}
